<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="app"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Base64 Image Encoder</title>
    <meta name="description" content="Upload an image and convert it to base64 string format for usage in CSS, and HTML.">
    <meta name="keywords" content="base64,image,images,encoder,encode,css,xhtml" />
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/jquery.fileupload-ui.css">
    <!-- endbuild -->
</head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div>
      <div data-ng-controller="AppFileUploadController">
        <div class="app-header">
          <div class="app-grid">
            <div>
              <img src="images/logo.png">
              <div style="float: right; line-height: 50px;">
                <div class="g-plusone" data-annotation="inline" data-width="300" data-align="right"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="app-container light">
          <div class="app-grid">
            <form method="POST" enctype="multipart/form-data"
                  data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
              <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
              <div class="row fileupload-buttonbar">
                <div class="col-lg-5">
                  <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>{{ 'ADD_FILE' | translate }}</span>
                    <input type="file" name="files[]" ng-disabled="disabled">
                </span>
                  <button type="button" class="btn btn-primary start" data-ng-class="{'disabled': !readytoUpload}" data-ng-click="submit()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>{{ 'ENCODE' | translate }}</span>
                  </button>
                  <button type="button" class="btn btn-warning cancel disabled" data-ng-click="cancel()">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>{{ 'CANCEL' | translate }}</span>
                  </button>
                  <!-- The loading indicator is shown during file processing -->
                  <div class="fileupload-loading"></div>
                </div>
                <!-- The global progress information -->
                <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                  <!-- The global progress bar -->
                  <div class="progress progress-striped active" data-file-upload-progress="progress()">
                    <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                  </div>
                  <!-- The extended global progress information -->
                  <div class="progress-extended">&nbsp;</div>
                </div>
                <div class="col-lg-10">
                  <p>
                    {{ 'RULE1' | translate }}
                  </p>
                  <p>
                    {{ 'RULE2' | translate }}
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="app-container" data-ng-repeat="result in resultArr" data-ng-class="{'dark': $even, 'light': $odd }">
          <div class="app-grid">
            <div class="app-imagebox" data-ng-style="{background:'url(data:' + result.type + ';base64,' + result.data + ') no-repeat center center'}">
              <!--<img data-ng-src="{{'data:image/png;base64,' + result.data}}">-->
            </div>
            <div style="display: inline-block; width: 500px; overflow: hidden;">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <p>{{ 'LABEL1' | translate }}</p>
                  <textarea class="form-control" rows="3" select-on-click>{{result.data}}</textarea>
                </div>
                <div class="form-group">
                  <p>{{ 'LABEL2' | translate }}</p>
                  <textarea class="form-control" rows="3" select-on-click>{{"background-image: url(&apos;data:" + result.type + ";base64," + result.data + "&apos;);"}}</textarea>
                </div>
                <div class="form-group">
                  <p>{{ 'LABEL3' | translate }}</p>
                  <textarea class="form-control" rows="3" select-on-click>{{"&lt;img src=&apos;data:" + result.type + ";base64," + result.data + "&apos;&gt;"}}</textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="bower_components/blueimp-load-image/js/load-image.min.js"></script>
    <script src="bower_components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="bower_components/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="bower_components/jquery-file-upload/js/jquery.fileupload-process.js"></script>
    <script src="bower_components/jquery-file-upload/js/jquery.fileupload-image.js"></script>
    <script src="bower_components/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
    <script src="bower_components/jquery-file-upload/js/jquery.fileupload-angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.config.js"></script>
    <script src="scripts/app.i18n.js"></script>
    <script src="scripts/app.upload.js"></script>
    <script src="scripts/app.directive.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->

    <!-- Google +1 -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43914053-1');
      ga('send', 'pageview');
    </script>
</body>
</html>
